// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Other CSS

html, body {
    height: 100%;
}

#app {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

header, footer {
    background-color: #e3f2fd;
}