// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Other CSS

html, body {
    height: 100%;
}

#app {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

header, footer {
    background-color: #e3f2fd;
}

tr.lock {
    td {
        @extend .text-muted;
        a {
            @extend .link-secondary;
        }
    }
}

tr.unlock {
    td {
        a {

        }
    }
}

.required {
    color: $red-500;
}
